@import "tailwindcss";

@theme {
  --color-primary: #2c3e50;
  --color-secondary: #1abc9c;
  /* --breakpoint-md: 768px;
  --breakpoint-xl: 1280px; */
  /* --breakpoint-2xl: 1400px; */
}

@utility container {
  margin-inline: auto;
  @apply max-w-screen-xl;
}
